
*.swift
*.modulemap
*.pch
*.h
*.plist
*.xcconfig
*.m
*.sh
*.md
*.markdown
*.xcscheme
*.png
Pods/KeychainSwift/LICENSE
Pods/FSCalendar/LICENSE
Pods/Alamofire/LICENSE
Podfile.lock
*.lock
*.pbxproj
Pods/MMDrawerController/LICENSE
*.xcuserstate
*.xcbkptlist
Pods/Result/LICENSE
